html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

p, blockquote {
    font-size: .95em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .95em 1.3em;
}

.logo i {
    font-size: 3em;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

i.menu {
    font-size: 2em;
    margin-top: 15%;
}

.motorcycle {
    font-size: 15em;
}

.subhead {
    font-size: 1.1em;
}

.second-container i {
    font-size: 6em;
}

.second-container:before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -2;
}

.second-container {
    width: 100%;
    background: #00C2FF;
    color: white;
    margin-top: 15%;
    padding: 3em 0 3em;
    border-top-left-radius: 4em;
    transform: skewY(-2deg);
}

.second-container ul {
    transform: skewY(2deg);
}

.second-container:after {
    content: '';
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: -80px;
    right: 0;
    border-radius: 4em;
    z-index: -1;
}

.third-container img {
    max-width: 100%;
}
