$fonts: (
        primary: Roboto sans-serif
);

$colors: (
        primary: #3338ff
);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: map-get($fonts, primary);

  form {
    position: relative;
    margin: 1em 0 0 1em;

    label {
      position: absolute;
      margin: -.75em 0 0 1em;
      display: block;
      background-color: white;
      padding: 0.2em;
    }

    input {
      padding: 1em;
      border-radius: 5px;
      border-width: 1px;
    }
  }
}
