body,
html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  // size
  height: 4.4em;
  width: 100%;

  // colors
  background: #2d2d2d;
  color: aliceblue;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    // positioning menu elements
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}

header {
  padding: 2em 1em 3.5em;
  margin-bottom: 1em;
  text-align: center;
  background: #4d1a76;
  color: #02B7F1;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);

  img {
    max-width: 10em;
    max-height: 10em;
  }

  p {
    padding-top: 1.5em;
    color: #D7F0FC;
  }
}

.dropdown {
  position: absolute;
  width: 30rem;
  opacity: 0;
  z-index: 2;
  background: blue;
  border-top: 2px solid burlywood;

  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 1.5em;
  padding: .5rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0.175em .5em;
  transform: translateX(-43%);
  transition: opacity 150ms ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

